<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta class="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dream</title>
    <link href="/static/manager/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/manager/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/manager/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="/static/manager/assets/css/custom-styles.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <a href="http://localhost:8000/manager/index/" class="navbar-brand">xx图书馆</a>
            </div>
            <button type="button" class="btn btn-light"><a
                    href="http://localhost:8000/manager/logout/">退出系统</a></button>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="#">图书管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="http://localhost:8000/manager/inqbook/">查询图书信息</a>
                            </li>
                            <li>
                                <a href="http://localhost:8000/manager/addbook/">添加图书信息</a>
                            </li>
                            <li>
                                <a href="http://localhost:8000/manager/edit/">修改图书信息</a>
                            </li>
                            <li>
                                <a href="http://localhost:8000/manager/delbook/">删除图书信息</a>
                            </li>
                            <li>
                                <a href="http://localhost:8000/manager/addstyle/">添加图书类别</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">学生管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="http://localhost:8000/manager/inqstudent/">查询学生信息</a>
                            </li>
                            <li>
                                <a href="http://localhost:8000/manager/addstudent/">添加学生信息</a>
                            </li>
                            <li>
                                <a href="http://localhost:8000/manager/editstudent/">修改学生信息</a>
                            </li>
                            <li>
                                <a href="http://localhost:8000/manager/delstudent/">删除学生信息</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">借阅管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="http://localhost:8000/manager/borrowBook/">图书借阅</a>
                            </li>
                            <li>
                                <a href="http://localhost:8000/manager/returnBook/">图书归还</a>
                            </li>
                            >
                        </ul>
                    </li>
                    <li>
                        <a href="#">管理员管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="http://localhost:8000/manager/addmanager/">添加管理员</a>
                            </li>
                            <li>
                                <a href="http://localhost:8000/manager/delmanager/">删除管理员</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <ul>
                <li>学号<input type="text" class="studentId" id="" placeholder="不可重复" /></li>
                <li>密码<input type="text" class="password" id="" placeholder="身份证后8位" /></li>
                <li>姓名<input type="text" class="name1" id="" value="" /></li>
                <li>性别<input type="text" class="gender" id="" value="" /></li>
                <li>学院<input type="text" class="college" id="" value="" /></li>
                <li>班级<input type="text" class="Class" id="" value="" /></li>
                <li>在借册数<input style="margin-left: 24px" type="text" class="borrowNum" id="" placeholder="初始为0" /></li>
                <li>可借阅次数<input type="text" class="allowNum" id="" placeholder="初始为7" /></li>
            </ul>
            <button id="confirm" class="btn btn-info btn-clean-one">确定添加</button>
        </div>
    </div>
    <script src="/static/manager/assets/js/jquery-1.10.2.js"></script>
    <script src="/static/manager/assets/js/bootstrap.min.js"></script>
    <script src="/static/manager/assets/js/jquery.metisMenu.js"></script>
    <script src="/static/manager/assets/js/custom-scripts.js"></script>
    <script>
        var confirm = document.querySelector('#confirm')
        var studentId = document.querySelector('.studentId')
        var password = document.querySelector('.password')
        var name1 = document.querySelector('.name1')
        var gender = document.querySelector('.gender')
        var college = document.querySelector('.college')
        var Class = document.querySelector('.Class')
        var borrowNum = document.querySelector('.borrowNum')
        var allowNum = document.querySelector('.allowNum')
        confirm.onclick = function () {
            $.ajax({
                type: "GET",
                xhrFields: {
                    withCredentials: true
                },
                data: {
                    studentId: studentId.value,
                    password: password.value,
                    name: name1.value,
                    gender: gender.value,
                    college: college.value,
                    Class: Class.value,
                    borrowNum: borrowNum.value,
                    allowNum: allowNum.value
                },
                url: "http://localhost:8000/manager/addstudents/",
                complete: function (res) {
                    alert(res.responseText)
                    window.location.href = "http://localhost:8000/manager/addstudent/"
                }
            })
        }
    </script>
</body>

</html>